<footer class="bg-light text-dark py-4 mt-5">
    <div class="container">
        <div class="row d-flex align-items-start">

            <!-- Sobre -->
            <div class="col-12 col-md-6 mb-4">
                <h4 class="mb-3">&copy; 2025 - Plataforma de Lanches</h4>
                <p>
                    Aqui você encontra aquele lanche gostoso que dá água na boca.
                    Aquela sobremesa saborosa para acompanhar a sua bebida preferida.
                    E se você é vegetariano, também vai encontrar o lanche, sobremesa e bebida do seu gosto.
                </p>
            </div>

            <!-- Contato -->
            <div class="col-12 col-md-6">
                <h4 class="mb-3">Tem alguma dúvida?</h4>
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center mb-2">
                        <span class="material-icons-outlined me-2">location_on</span>
                        Rua da Alegria, 123 - Centro, Estância Velha, RS
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <span class="material-icons-outlined me-2">call</span>
                        +55 51 99999-9999
                    </li>
                    <li class="d-flex align-items-center">
                        <span class="material-icons-outlined me-2">email</span>
                        <a href="mailto:contato@plataformadelanches.com.br" class=" text-decoration-none">
                            contato@plataformadelanches.com.br
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
