@model LoginViewModel

<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg border-0 rounded-3 p-4" style="max-width: 500px; width: 100%;">
        <div class="text-center mb-3">
            <span class="material-icons-outlined" style="font-size:64px; color:#0d6efd;">
                person_add
            </span>
            <h3 class="mt-2">Registrar Usuário</h3>
        </div>

        <form asp-controller="Account" asp-action="Register" method="post">

            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control @(ViewData.ModelState["UserName"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Ex: Roberto Silva" />
                <span asp-validation-for="UserName" class="invalid-feedback"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="*********" />
                <span asp-validation-for="Password" class="invalid-feedback"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-success">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>
