<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <span class="material-icons-outlined fs-3 text-primary">insert_chart</span>
                        <h4 class="fw-bold mb-0">Relatório de Pedidos por Período</h4>
                    </div>

                    <form asp-action="RelatorioVendasSimples">
                        <div class="mb-3">
                            <label for="minDate" class="form-label">Data Inicial</label>
                            <input type="date" name="minDate" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label for="maxDate" class="form-label">Data Final</label>
                            <input type="date" name="maxDate" class="form-control" />
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                                <span class="material-icons-outlined">send</span>
                                Enviar
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
